.carduser {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.carduser label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.carduser input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

.carduser input:focus {
  outline: none;
  border-color: #435f78;
}
