.button {
    font: inherit;
    border: 1px solid #cab987;
    background: #cab987;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #356c9e;
    border-color: #356c9e;
  }
  
  .button:focus {
    outline: none;
  }